@use '../../styles/abstracts' as *;

.header {
	height: 27rem;
	background: url('../../public/images/pattern-bg.png') center center/cover no-repeat;
	display: flex;
	flex-direction: column;
	padding: 0 2rem;
	position: relative;

	@media screen and (min-width: $breakpoint-md) {
		height: 30vh;
	}

	.heading {
		text-align: center;
		color: $white;
		font-size: $heading-md;
		font-weight: 400;
		margin: 2rem 0;

		@media screen and (min-width: $breakpoint-md) {
			font-size: $heading-l;
		}
	}

	.container {
		max-width: 50rem;
		width: 100%;
		margin: 0 auto;
		position: relative;
	}

	.input {
		width: 100%;
		height: 5rem;
		border: none;
		border-radius: 15px;
		padding: 0 2rem;
		font-size: $fontsize-md;
	}

	.button {
		background: $black;
		position: absolute;
		top: 0;
		right: 0;
		height: 5rem;
		width: 5rem;
		border: none;
		border-radius: 0 15px 15px 0;

		&:hover {
			cursor: pointer;
		}
	}
}
